body {
    background-color: #0B0C10;
}

.menubar {
    height: 100%;
    width: min(23%, 200px);
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    background-color: #1F2833;
    border-radius: 0px 10px 0px 0px;
}

.title {
    background-color: #0B0C10;
}

.sidebar {
    width: auto;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-transform: uppercase;
}

.spacing {
    margin-left: min(25%, 325px);

}

.container {
    padding: 0.01em 16px;

}

h1,
h2,
h3 {
    color: #66FCF1;
}

p,
ul,
li,
a,
address {
    color: #C5C6C7;
    text-align: justify;
}

.image-blog {
    margin: auto;
    display: block;
    width: 250px;
}

.gallery-button {
    display: inline-block;
    background-color: #66FCF1;
    color: #0B0C10;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin-right: 5px;
}

.button-gal{
    text-align: center;
    margin-bottom: 25px;
}

.loader {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 9999;
    display: none;
  }

  .water {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .water .wave {
    position: absolute;
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, #4cb8c4, #3cd3ad);
    animation: wave 2s infinite linear;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
  }

  .water .wave:nth-child(2) {
    animation-delay: -1s;
  }

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -100px;
    }
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border: 8px solid #f3f3f3;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }